<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dataset-Fill</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/static/css/hierarchy_admin.css" rel="stylesheet" type="text/css">
  <link href="/static/css/Treant.css" rel="stylesheet" type="text/css">
  <link href="/static/css/tree.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- top navigation bar -->
  <nav>
    <div id="nav-bar">
      <div id="project-Heading"><h2><b>ADH-Analyser</b></h2></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-1" href="/home"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-2" href="/hierarchy"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Hierarchy</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-3" style="color: rgb(255, 172, 40);" href="/dataset"><i class="fas fa-database" style="color: rgb(255, 172, 40);"></i>&nbsp;&nbsp;Dataset</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-4" href="/experts"><i class="fas fa-user-tie"></i>&nbsp;&nbsp;Experts</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-5" href="/about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a></div>
      <% if(loggedin) { %>
        <div style="font-size: xx-large; margin-left: 16vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" href="/profile"><i class="fas fa-user-circle"></i></a></div>
        <div style="font-size: x-large; margin-left: 3vw; color: rgb(170, 127, 59);"><button id="sign-out-btn" onclick="signout()"><i class="fas fa-sign-out-alt"></i></button></div>
      <% } else { %>
        <script>window.location.assign('/dataset');</script>
      <% } %>
    </div>
  </nav>
  <!-- main content -->
  <span class="main">
    <div id="hierarchy-body">
      <div style="display: inline-flex; position: fixed;">
        <div id="hierarchy-body-heading"><b>Hierarchy</b></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div><br>
      <div style="margin-top: 5vh; overflow-y: auto; overflow-x: auto; height: 75vh; width: 66vw;">
        <ul id="hierarchy-view-list">
        </ul>
      </div>
    </div>
    <div id="alternative-body">
      <div style="display: inline-flex; position: fixed;">
        <div id="alternative-body-heading"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alternatives</b></div><br>
      </div><br>
      <div style="margin-top: 8vh; overflow-y: auto; overflow-x: auto; height: 56vh;">
        <ul id="alternative-body-list"></ul>
      </div>
      <div id="hierarchy-sv"><button id="hierarchy-sv-to-cloud-btn" disabled onclick="saveDataToCloud()">Save Dataset To Cloud</button></div>
      <div id="hierarchy-sv"><button id="hierarchy-cmpt-result-btn" disabled onclick="computeResult()">Compute Result</button></div>
    </div>
  </span>
  <span class="tree tree-toggle">
    <div style="background-color: rgb(190, 243, 154); height: 82vh; width: 96vw; margin: 4vh; border-radius: 4vh; overflow: auto;">
      <div style="position: fixed;">
        <button id="tree-close-btn" onclick="closeTreeView()"><i class="fas fa-times"></i></button>
      </div>
      <div id="tree-body"><div class="chart" id="Hierarchy-tree"></div></div>
    </div>
  </span>
  <span class="datatable table-toggle">
    <div id="table-main">
      <div style="display: inline-flex; height: 10vh;">
        <div id="table-alt-heading"><b>Pairwise-Comparision between Alternatives W.R.T Salary</w></b></div>
        <button id="table-save-btn" onclick="saveTable()"><i class="fas fa-save"></i></button>
        <button id="table-close-btn" onclick="closeTable()"><i class="fas fa-times"></i></button>
      </div>
      <div id="table-body">
        <div id="table-really"></div>
      </div>
    </div>
  </span>

  <div id="sk-bar" class="snackbar"></div>
  <script>
    var tabledata, flag=false;
    var crt = <%- JSON.stringify(crt) %>;
    var info = <%- JSON.stringify(info) %>;
    <% if(get) { %>
      console.log("Previous record found");
      flag = true;
      tabledata = <%- JSON.stringify(data) %>;
    <% } %>
  </script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/enter_data.js"></script>
  <script src="/static/js/raphael.js"></script>
  <script src="/static/js/Treant.js"></script>
</body>
</html>