<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- top navigation bar -->
  <nav>
    <div id="nav-bar">
      <div id="project-Heading"><h2><b>ADH-Analyser</b></h2></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-1"href="/home"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-2" href="/hierarchy"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Hierarchy</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-3" href="/dataset"><i class="fas fa-database"></i>&nbsp;&nbsp;Dataset</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-5" href="/about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 20vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" style="color: rgb(255, 172, 40);"  href="/login">Login&nbsp;&nbsp;<i class="fas fa-bars" style="color: rgb(255, 172, 40);" ></i></a></div>
    </div>
  </nav>
  <!-- main content -->
  <div style="width: 100wh; height: 90vh;">
    <div id="forget-password-cls">
      <button id="forget-password-cls-btn" onclick="window.location.assign('/login');"><i class="fas fa-times"></i></button>
    </div>
    <div id="forget-password">
      <form id="forgetpasswordform">
        <div id="forget-password-email">
          <input id="forget-password-email-inp" type="text" name="email" placeholder="Email">
        </div>
        <div id="forget-password-smbt">
          <button id="forget-password-smbt-btn">Send Change Password Link</button>
        </div>
      </form>
    </div>
    <div id="sk-bar" class="snackbar"></div>
  </div>
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyAmHSD4qpxdjKY8wRkhbqUVvJ1lY8_aHt8",
      authDomain: "adh-analyser.firebaseapp.com",
      databaseURL: "https://adh-analyser-default-rtdb.firebaseio.com",
      projectId: "adh-analyser",
      storageBucket: "adh-analyser.appspot.com",
      messagingSenderId: "1074482678407",
      appId: "1:1074482678407:web:ee368e1e36fe4c4fcc0622",
      measurementId: "G-L3RLFF3F17"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    document.getElementById('forgetpasswordform').addEventListener("submit", (event) => {
      event.preventDefault();
      var email = event.target.email.value;
      if(email === ""){
        var sk = document.getElementById("sk-bar");
        sk.innerHTML = "Please enter the Email";
        showSnackbar();
      }
      else{
        firebase.auth().sendPasswordResetEmail(email).then(() => {
          var sk = document.getElementById("sk-bar");
          sk.innerHTML = "Email Sended";
          showSnackbar();
          setTimeout(function(){ 
            window.location.assign("/login");
          }, 3000);
        }).catch((error) => {
          console.log(error.message);
        });
      }
    });
    function showSnackbar() {
      var x = document.getElementById("sk-bar");
      x.classList.toggle("show"); 
      setTimeout(function(){ 
        x.classList.toggle("show"); 
      }, 3000);
    }
  </script>
</body>
</html>