<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- top navigation bar -->
  <nav>
    <div id="nav-bar">
      <div id="project-Heading"><h2><b>AHP-Analyser</b></h2></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-1" href="/home"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-2" href="/hierarchy"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Hierarchy</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-3" href="/dataset"><i class="fas fa-database"></i>&nbsp;&nbsp;Dataset</a></div>
      <div style="font-size: large; margin-left: 4vw;"><a id="nav-tab-link-5" href="/about"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-size: large; margin-left: 20vw; color: rgb(170, 127, 59);"><a id="nav-tab-login" style="color: rgb(255, 172, 40);" href="/login">Login&nbsp;&nbsp;<i class="fas fa-bars" style="color: rgb(255, 172, 40);"></i></a></div>
    </div>
  </nav>
  <!-- main content -->
  <div id="login-body">
    <div id="sign-in-social-media">
        <div id="sign-in-social-media-fb" onclick="facebookSignin()"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Login with Facebook</div>
      <br><br>
        <div id="sign-in-social-media-twi" onclick="twitterSignin()"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Login with Twitter</div>
      <br><br>
        <div id="sign-in-social-media-goo" onclick="googleSignin()"><i class="fab fa-google"></i>&nbsp;&nbsp;Login with Google+</div>
    </div>
    <div class="vl">
      <span class="vl-innertext">or</span>
    </div>
    <div id="sign-in-body">
      <form id="loginform">
        <div id="sign-in-email">
          <i class="far fa-envelope" style="color: gray;"></i>&nbsp;&nbsp;
          <input id="sign-in-email-inp" name="emailSignin" placeholder="Email" type="email">
        </div><br>
        <div id="sign-in-password">
          <i class="fas fa-lock" style="color: gray;"></i>&nbsp;&nbsp;
          <input id="sign-in-password-inp" name="passSignin" placeholder="Password" type="password">
        </div><br>
        <div id="recaptcha" class="g-recaptcha" data-sitekey="6LfCgB8aAAAAALjtZ9nQa4hn6FwN7xKo0kZ2MqxG"></div><br>
        <button id="sign-in-btn">Login</button>
      </form>
      <br><a href="/login/forget_password"><div id="forget-password-red">Forget Password</div></a><br>
      <div id="sign-up" onclick="showSignUp()">Register Here</div>
    </div>
    <div id="sign-up-body">
      <form id="registerform">
        <div id="sign-up-username">
          <i class="far fa-user" style="color: gray;"></i>&nbsp;&nbsp;
          <input id="sign-up-username-inp" name="usernameSignup" placeholder="Username" type="text">
        </div><br>
        <div id="sign-up-email">
          <i class="far fa-envelope" style="color: gray;"></i>&nbsp;&nbsp;
          <input id="sign-up-email-inp" name="emailSignup" placeholder="Email" type="email">
        </div><br>
        <div id="sign-up-password">
          <i class="fas fa-lock" style="color: gray;"></i>&nbsp;&nbsp;
          <input id="sign-up-password-inp" name="passSignup" placeholder="Password" type="password">
        </div><br>
        <div id="recaptcha" class="g-recaptcha" data-sitekey="6LfCgB8aAAAAALjtZ9nQa4hn6FwN7xKo0kZ2MqxG"></div><br>
        <button id="sign-up-btn">Register</button>
      </form>
      <br><div id="sign-up" onclick="showSignIn()">Login</div>
    </div>
  </div>
  <div id="sk-bar" class="snackbar"></div>

  <script src="/static/js/login.js"></script>
</body>
</html>