.main {
  display: inline-flex;
}
.tree-toggle {
  display: none;
}
.table-toggle {
  display: none;
}
.res-toggle {
  display: none;
}
/*  Hierarchy-Body  */
#hierarchy-body{
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 90vh;
  width: 70vw;
  border-top: 1vh solid rgb(193, 194, 133);
  border-left: 0.5vw solid  rgb(193, 194, 133);
  border-bottom: 0.5vw solid  rgb(193, 194, 133);
  border-right: 0.5vw solid rgb(193, 194, 133);
  overflow-y: hidden;
}
#hierarchy-body-heading{
  font-size: xx-large;
  text-align: center;
  color: green;
  width: 52vw;
  text-align: center;
}
#hierarchy-body-tree-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(255, 102, 0);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
#hierarchy-body-add-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(49, 207, 255);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
#hierarchy-body-sub-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(255, 56, 56);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
.hierarchy-body-node-inp {
  background-color: rgb(138, 138, 196);
  overflow: auto;
  display: inline-block;
  border: none;
  opacity: 0.85;
  color: white;
  padding-left: 1vw;
}
.hierarchy-body-node-inp:focus {
  opacity: 1;
}
.hierarchy-body-node-btn {
  background-color: rgb(138, 138, 196);
  display: inline-block;
  border: none;
  color: white;
  text-align: center;
}
.hierarchy-body-node:hover {
  opacity: 1;
}
.caret {
  cursor: pointer;
  user-select: none;
}
.nested {
  display: none;
}
.active {
  display: block;
}
#alternative-body {
  padding-top: 2vh;
  height: 90vh;
  width: 30vw;
  border-top: 1vh solid rgb(193, 194, 133);
  border-left: 1px solid  black;
  border-bottom: 1vh solid  rgb(193, 194, 133);
  border-right: 0.5vw solid rgb(193, 194, 133);
  overflow: auto;
}
#alternative-body-heading{
  font-size: xx-large;
  text-align: center;
  color: green;
  width: 25vw;
}
#alternative-body-cnt-btn-add {
  border: none;
  background-color: rgb(49, 207, 255);
  color: white;
  border-bottom: 1px black solid;
}
#alternative-body-cnt-btn-sub {
  border: none;
  background-color: rgb(255, 56, 56);
  color: white;
}
.alternative-body-node-inp {
  background-color: rgb(138, 138, 196);
  overflow: auto;
  display: inline-block;
  border: none;
  opacity: 0.85;
  color: white;
  padding-left: 1vw;
}
#hierarchy-sv {
  margin-top: 2vh;
  text-align: center;
}
#hierarchy-sv-btn {
  background-color: rgb(107, 231, 69);
  font-size: x-large;
  border: none;
  opacity: 0.85;
}
#hierarchy-sv-btn:hover {
  opacity: 1;
}
.tree {
  text-align: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}
#tree-close-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: xx-large;
  width: 4vw;
  height: 8vh;
  margin-top: 4vh;
  margin-left: 90vw;
  border-radius: 50%;
}


/*  Expert filling dataset   */
.hierarchy-view-node-div {
  display: inline-flex;
  background-color: rgb(107, 231, 69);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  opacity: 0.85;
  width: auto;
  height: 5vh;
  overflow-x: auto;
  font-size: larger;
  color: white;
}
.hierarchy-view-node-down-btn {
  background-color: rgb(138, 138, 196);
  height: 5vh;
  width: 2vw;
  color: white;
  border: none;
}
.hierarchy-view-node-edt-btn {
  margin-left: 3vw;
  background-color: transparent;
  height: 5vh;
  width: 2vw;
  color: white;
  border: none;
  opacity: 0.85;
  border-radius: 50%;
}
.hierarchy-view-node-edt-btn:hover {
  opacity: 1;
}
#hierarchy-view-node-div:hover {
  opacity: 1;
}
.empty {
  background-color: rgb(255, 83, 71);
}
.alternative-view-node {
  padding: 1vh 1vw 1vh 1vw;
  background-color: rgb(138, 138, 196);
  opacity: 0.85;
  color: white;
  width: 15vw;
}

/* Table stylings  */

#table-main {
  overflow: hidden;
}
#table-close-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: xx-large;
  width: 4vw;
  height: 8vh;
  margin-top: 3vh;
  margin-left: 2vw;
  border-radius: 50%;
}
#table-save-btn {
  background-color: rgb(116, 252, 53);
  color: white;
  border: none;
  font-size: xx-large;
  width: 4vw;
  height: 8vh;
  margin-top: 3vh;
  border-radius: 50%;
}
#table-alt-heading {
  width: 85vw;
  height: 10vh;
  padding-top: 4.5vh;
  color: rgb(48, 124, 224);
  font-size: x-large;
  text-align: center;
}
#table-body {
  margin: 5vh;
  margin-top: 2vh;
  overflow: hidden;
  font-size: larger;
}
#hierarchy-cmpt-result-btn {
  background-color: rgb(107, 231, 69);
  font-size: x-large;
  border: none;
  opacity: 0.85;
}
#hierarchy-cmpt-result-btn:hover {
  opacity: 1;
}
#hierarchy-sv-to-cloud-btn {
  background-color: rgb(107, 231, 69);
  font-size: x-large;
  border: none;
  opacity: 0.85;
}
#hierarchy-sv-to-cloud-btn:hover {
  opacity: 1;
}

/*  Result page styling  */

#result-heading {
  width: 78vw;
  height: 10vh;
  padding-top: 4.5vh;
  color: rgb(48, 124, 224);
  font-size: x-large;
  text-align: center;
}
#result-close-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: xx-large;
  width: 4vw;
  height: 8vh;
  margin-top: 3vh;
  margin-left: 2vw;
  border-radius: 50%;
}
#result-save-btn {
  background-color: rgb(116, 252, 53);
  color: white;
  border: none;
  font-size: x-large;
  width: 13vw;
  height: 8vh;
  margin-top: 3vh;
  opacity: 0.85;
}
#result-save-btn:hover {
  opacity: 1;
}
#Incon {
  margin-top: 3vh;
  margin-left: 5vw;
  display: inline-flex;
  text-align: center;
}