#crt-hierarchy {
  margin-top: 2.5vh;
  margin-right: 3vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(122, 236, 46);
  font-size: x-large;
}
#hierarchy-lst {
  width: 100vw; 
  background-image: url(https://i.pinimg.com/originals/45/30/cb/4530cbae0d4f7862dd51541af5d35082.jpg);
  overflow-y: auto;
  overflow-x: hidden;
}
.hierarchy-bx {
  width: 18vw;
  height: 36vh;
  margin-left: 3.5vw;
  background-color: rgb(105, 218, 224);
  color: white;
  text-align: center;
  opacity: 0.85;
}
.hierarchy-bx:hover {
  opacity: 1;
}
.hierarchy-icons {
  margin-bottom: 1vh;
  width: 18vw;
  text-align: left;
}
.hierarchy-btn-edit {
  border: none;
  font-size: larger;
  border-radius: 50%;
  margin-left: 4.3vw;
}
.hierarchy-btn-view {
  border: none;
  font-size: larger;
  border-radius: 50%;
  margin-left: 4.3vw;
}
.hierarchy-row {
  width: 90vw; 
  margin-left: 5vw; 
  margin-right: 5vw; 
  margin-top: 5vh; 
  display: inline-flex;
}