.main {
  display: inline-flex;
}
.tree-toggle {
  display: none;
}
/*  Hierarchy-Body  */
#hierarchy-body{
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 90vh;
  width: 70vw;
  border-top: 1vh solid rgb(193, 194, 133);
  border-left: 0.5vw solid  rgb(193, 194, 133);
  border-bottom: 0.5vw solid  rgb(193, 194, 133);
  border-right: 0.5vw solid rgb(193, 194, 133);
  overflow-y: hidden;
}
#hierarchy-body-heading{
  font-size: xx-large;
  text-align: center;
  color: green;
  width: 52vw;
  text-align: center;
}
#hierarchy-body-tree-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(255, 102, 0);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
#hierarchy-body-add-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(49, 207, 255);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
#hierarchy-body-sub-btn{
  font-size: x-large;
  color: white;
  background-color: rgb(255, 56, 56);
  width: 4vw;
  height: 8vh;
  border: none;
  border-radius: 50%;
}
.hierarchy-body-node-inp {
  background-color: rgb(138, 138, 196);
  overflow: auto;
  display: inline-block;
  border: none;
  opacity: 0.85;
  color: white;
  padding-left: 1vw;
}
.hierarchy-body-node-inp:focus {
  opacity: 1;
}
.hierarchy-body-node-btn {
  background-color: rgb(138, 138, 196);
  display: inline-block;
  border: none;
  color: white;
  text-align: center;
}
.hierarchy-body-node:hover {
  opacity: 1;
}
.caret {
  cursor: pointer;
  user-select: none;
}
.nested {
  display: none;
}
.active {
  display: block;
}
#alternative-body {
  padding-top: 2vh;
  height: 90vh;
  width: 30vw;
  border-top: 1vh solid rgb(193, 194, 133);
  border-left: 1px solid  black;
  border-bottom: 1vh solid  rgb(193, 194, 133);
  border-right: 0.5vw solid rgb(193, 194, 133);
  overflow: auto;
}
#alternative-body-heading{
  font-size: xx-large;
  text-align: center;
  color: green;
  width: 25vw;
}
#alternative-body-cnt-btn-add {
  border: none;
  background-color: rgb(49, 207, 255);
  color: white;
  border-bottom: 1px black solid;
}
#alternative-body-cnt-btn-sub {
  border: none;
  background-color: rgb(255, 56, 56);
  color: white;
}
.alternative-body-node-inp {
  background-color: rgb(138, 138, 196);
  overflow: auto;
  display: inline-block;
  border: none;
  opacity: 0.85;
  color: white;
  padding-left: 1vw;
}
#hierarchy-sv {
  margin-top: 2vh;
  text-align: center;
}
#hierarchy-sv-btn {
  background-color: rgb(107, 231, 69);
  font-size: x-large;
  border: none;
  opacity: 0.85;
}
#hierarchy-sv-btn:hover {
  opacity: 1;
}
.tree {
  text-align: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}
#tree-close-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: xx-large;
  width: 4vw;
  height: 8vh;
  margin-top: 4vh;
  margin-left: 90vw;
  border-radius: 50%;
}