html body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(254, 255, 177);
  overflow-x: hidden;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
nav {
  position: sticky;
  top: 0px;
  background-color: #1c2538;
  height: 10vh;
  width: 100vw;
  border-bottom: 0.5vh solid rgba(243, 217, 217, 0.4);
  z-index: 5;
}
a {
  color: white;
  text-decoration: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
.tooltip .tooltiptext {
  width: 120px;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*Navigation -bar*/
#nav-bar {
  box-sizing: border-box;
  position: relative;
  margin-top: 1.8vh;
  height: 7vh;
  width: 100vw;
  align-items: center;
  display: inline-flex;
}
#project-Heading {
  color: white;
  margin-left: 3vw;
}
#nav-tab-link-1 {
  text-decoration: none;
}
#nav-tab-link-1:hover {
  color: rgb(170, 127, 59);
}
#nav-tab-link-2 {
  text-decoration: none;
}
#nav-tab-link-2:hover {
  color: rgb(170, 127, 59);
}
#nav-tab-link-3 {
  text-decoration: none;
}
#nav-tab-link-3:hover {
  color: rgb(170, 127, 59);
}
#nav-tab-link-4 {
  text-decoration: none;
}
#nav-tab-link-4:hover {
  color: rgb(170, 127, 59);
}
#nav-tab-link-5 {
  text-decoration: none;
}
#nav-tab-link-5:hover {
  color: rgb(170, 127, 59);
}
#nav-tab-login{
  text-decoration: none;
}
#nav-tab-login:hover{
  color: rgb(170, 127, 59);
}
.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#home-background {
  position: absolute;
  z-index: -1;
  height: 90vh;
  width: 100vw;
  background-image: url(https://i.pinimg.com/originals/45/30/cb/4530cbae0d4f7862dd51541af5d35082.jpg);
  overflow-y: auto;
  overflow-x: hidden;
}
#home-main {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5vh;
  height: 80vh;
  width: 95vw;
}
.home-rw {
  margin-top: 7vh;
  display: inline-flex;
  height: 35vh;
  width: 95vw;
}
.home-bx {
  padding-top: 2vh;
  cursor: pointer;
  margin-left: 5.7vw;
  height: 35vh;
  width: 17vw;
  color: white;
  opacity: 0.85;
  text-align: center;
}
.home-bx:hover {
  opacity: 1;
}
#profile-left {
  border-top: 1vh solid red;
  border-bottom: 1vh solid red;
  text-align: center;
  height: 77vh;
  width: 25vw;
  background-color: white;
}
#profile-right {
  border-top: 1vh solid red;
  border-bottom: 1vh solid red;
  margin-left: 5vw;
  height: 77vh;
  width: 63vw;
  text-align: center;
  background-color: white;
  overflow: hidden;
}
#profile-dataset-list {
  margin-left: 1.5vw;
  height: 61.9vh;
  width: 60vw;
  background-color: red;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
.profile-list-item {
  display: inline-flex;
  margin-top: 1.5vh;
  height: 7vh;
  width: 54.6vw;
  background-color: rgb(216, 216, 216);
  border-radius: 8px;
  font-size: x-large;
  text-align: left;
  padding-left: 2.4vw;
  padding-top: 0.6vh;
}
.profile-show-btn {
  margin-left: 1vw;
  width: 3vw;
  height: 6vh;
  border: none;
  border-radius: 50%;
}
.profile-dataset-progbar {
  margin-top: 1.2vh;
  width: 8vw;
}