.chart { 
  /*Style of chart div*/
  overflow: auto;
  margin: 5px; 
  margin: 5px auto;
}
.node { 
  background-color: rgb(138, 138, 196); 
  color: white;  
  border-radius: 3px; 
  width: auto; 
  height: auto;
  padding: 5px;
}
.Treant > p { 
  font-size: larger; 
  height: 20px; 
  font-weight: bold; 
}
#tree-body {
  height: 80vh; 
  width: 87vw;
}